RewriteEngine On
#RewriteBase /test/
RewriteRule !\.(js|ico|txt|gif|jpg|png|css)$ application.php
#RewriteRule ^.*$ entrypoint.php [NC,L]
#RewriteCond %{REQUEST_FILENAME} -s [OR]
#RewriteCond %{REQUEST_FILENAME} -l [OR]
#RewriteCond %{REQUEST_FILENAME} -d
#RewriteRule ^.*$ - [NC,L]
